.upper-layer {
    display: flex;
    position: relative;
    height: auto;
    min-height: 200px;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5rem;
  
    /*the alpha value controls the transparency*/
    background: rgba( 0, 0, 0, 0.3 );
  
    /* This controls the blurring effect*/
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 7.5px );
  
    /*Adding the shadow*/
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.18 );
  
    /* Adding our borders*/
    border-radius: 16px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 4;
    transition: all 0.3s ease;
}